<% @comments.each do |comment| %>
    <% @col_counter = @col_counter + 1 %>
    <% if @col_counter > 3 %>
        <div class="row">
          <% @col_counter = 0 %>
    <% end %>
    <%= content_tag :div, :class => "span1" do -%>
        <% hash = Digest::MD5.hexdigest(comment.email.downcase) %>
        <%= image_tag("http://www.gravatar.com/avatar/#{hash}", :class => "img-polaroid") %>
    <% end %>
    <%= content_tag :div, :class => "span3" do -%>

        <%= content_tag :h2, comment.name %><%= content_tag :h4, comment.guess %>
        <%= content_tag :p, comment.comment %>
    <% end %>
    <% if @col_counter >= 3 %>
        </div>
    <% end %>
<% end %>

<br/>

<%= link_to t(:new_guess), new_comment_path, :class => 'btn btn-large' %>
