<!DOCTYPE html>
<html>
<head>
  <title><%= t(:site) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <%= link_to t(:site), root_path, :class => 'brand' %>
    <ul class="nav">
      <% if current_page?(root_path) %>
          <li class="active"><%= link_to 'Home', root_path %></li>
      <% else %>
          <li><%= link_to 'Home', root_path %></li>
      <% end %>
      <% if current_page?(new_comment_path) %>
          <li class="active"><%= link_to t(:new_guess), new_comment_path %></li>
      <% else %>
          <li><%= link_to t(:new_guess), new_comment_path %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">

  <%= yield %>

</div>
<!-- /container -->

</body>
</html>